<form method="post" action="{{ path('app_todo_delete', {'id': todo.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette Todo ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ todo.id) }}">
    <button class="btn btn-outline-danger mt-3" type="">Supprimer la Todo</button>
</form>
