{% extends 'base.html.twig' %}

{% block title %}Modifier la Todo{% endblock %}

{% block body %}
    <h1>Modifier Todo</h1>


        <div class="card-body d-flex flex-column align-items-center">
            <label class="d-flex flex-column">
                {{ include('todo/_form.html.twig', {'button_label': 'Modifier'}) }}
            </label>
        </div>


    <a class="btn btn-outline-primary" href="{{ path('app_todo_index') }}">↩ Retour</a>

    {{ include('todo/_delete_form.html.twig') }}
{% endblock %}
