{% extends 'base.html.twig' %}

{% block title %}Nouvelle Todo{% endblock %}

{% block body %}
    <div class="card">
        <h1 class="m-4">Créer une nouvelle Todo</h1>

        <div class="card-body">
        {{ include('todo/_form.html.twig') }}
        </div>
    </div>

    <a class="btn btn-outline-primary m-3" href="{{ path('app_todo_index') }}">↩ Retour</a>
{% endblock %}
